<script type="text/javascript" src='/jquery.js'></script>

<div class="center">
<h1>Quoridor</h1>
</div>

<canvas id="canvas" width="500" height="500"></canvas>

<script type="text/javascript" src="/quoridor.js"></script>
