<div class="center">
<h1>Quoridor</h1>
<div id="turn">Player 1's turn</div>
<button id="move">Move</button>
<button id="barrier">Place Barrier</button>

<canvas id="canvas" width="1000" height="1000"></canvas>

<script type="text/javascript" src="/quoridor.js"></script>
