<h1 class="center">Quoridor</h1>
<div class="center" id="turn">Player 1's turn</div>
<canvas id="canvas" width="1000" height="1000"></canvas>

<script type="text/javascript" src="/quoridor.js"></script>
